{% extends 'dream/basic.html' %}
{% block style %}

<style xmlns="http://www.w3.org/1999/html">
        html, body{
          width: 100%;
        }
        body{
          min-height: 100%;
        }
        .second-row {
          background-color: aliceblue;
          height: auto;
          width:  95%;
          color: black;
          padding: 40px;
          margin: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 70px;
        }
        .card{
            width: 300px;

            text-align: center;
            
        }
        .card:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .card img{
          width: 300px;
          height: 312px;
        }
        .w-100{
          height: 36em;
        }
    </style>
  
{% endblock %}
{% block body %}
{% load static %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src='{%static "dream/hello.jpg"%}' class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='{%static "dream/hello5.jpg"%}' class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='{%static "dream/hello1.jpg"%}' class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--Here end of crousal ok-->

<ul>

  <div class="second-row">
      <div class="card">
        <img src="/media/{{product.0.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.0.product_name}}</h5>
          <p class="card-text">{{product.0.desc}}</p>
          <button id="pr{{product.0.id}}" class="btn btn-primary cart">Add to cart</button>
        </div>
      </div>
      {% for j in product|slice:"1:" %}
      {% if forloop.counter|divisibleby:3 and forloop.counter > 0 %}
      </div><div class="second-row">
      {% endif %}
      <div class="card">
        <img src="/media/{{j.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{j.product_name}}</h5>
          <p class="card-text">{{j.desc}}</p>
          <button id="pr{{j.id}}" class="btn btn-primary cart">Add to cart</button>
        </div>
      </div>
      {% endfor %}
  
  </div>
  
  </ul>

  {% endblock %}
  {% block js %} 
  <script>
    console.log('working');
    if (localStorage.getItem('cart')==null)
    {
      var cart={};
    }
    else{
      cart=JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML=Object.keys(cart).length;
    }
    $('.cart').click(function(){
      console.log('clicked');
      var idstr= this.id.toString();
      console.log(idstr);
      if (cart[idstr]!=undefined)
      {
        cart[idstr]=cart[idstr]+1;
      }
      else{
        cart[idstr]=1;
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML=Object.keys(cart).length;
    });
    


  </script>
  
  {% endblock %}
  

